<div class= "title-container">
 <h1>New truck</h1>
<div>
<div>
  <%= link_to "Back to trucks", trucks_path %>
</div>

<% if logged_in? %>
  <div class="panel panel-default">
  <div class="panel-body">
  <%= render "form", truck: @truck %>

  <br>


  <div>
  <div>
<% end %>