<div class= "title-container">
 <h1>New truck</h1>
<div>
<div class="panel panel-default">
<div class="panel-body">
<%= render "form", truck: @truck %>

<br>

<div>
  <%= link_to "Back to trucks", trucks_path %>
</div>
<div>
<div>