@import "bootstrap-sprockets";
@import "bootstrap";

$theme-color: "cyan";
body{
    background-color: rgb(164, 217, 233);
}
h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  .mobileview {
    font-size: 144%;
    padding: 10px;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }