@import "bootstrap-sprockets";
@import "bootstrap";



$theme-color: "cyan";
body{
    background-image: url('/assets/truckImages/background.png');
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat-y;
    background-size: 100%; 
    
    
    // background-color: rgb(164, 217, 233);
}
h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  .mobileview {
    font-size: 144%;
    padding: 10px;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
  }