#map {
    height: 450px;
    width: 100%;
    }

#table {
        width: 100%;
        
        table-layout: fixed;
        background-color: rgb(233, 219, 157);  
        overflow-y: scroll; 
        height: 400px;
        color: rgb(85, 2, 2);
    }


