<style>
  td {
      word-wrap: break-word;
  }
</style>

<div id="trucks">

<table class=" table table-stiped table-bordered table-hover">
  <thead class= "thread-primary">
    <tr>
      <th scope="col">Truck's Name</th>
      <th scope="col">Website</th>
      <th scope="col">Menu</th>
      <th scope="col">Schedule</th>
    </tr>
  </thead>
  <tbody>
    <% Truck.all.each do |truck| %>
      <tr class="table-primary table-striped">
        <td><%=link_to truck.name, truck%></td>
        <td><%=link_to "Visit", truck.website%></td>
        <td><%=link_to "View cite's menue", truck.menu%></td>
        <td><%= format_schedule(truck.schedule)%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>