<h1> Rowdy’s Food Truck Finder</h1>

<script type="module" src="/assets/controllers/map.js"></script>
<head>
  <title>Add Map</title>
  <link rel="stylesheet" type="text/css" href="./assets/style.css" />

</head>


<body>
<h3>Food Truck Locator</h3>
<div id="map"></div>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe4lIvg71LTj7DvY0_edNlB4opW4h2Rho&callback=initMap&v=weekly"
  defer
></script>
</body>